<div class="grid">
  <p-panel class="col-12 xl:col-4 lg:col-4 md:col-6 sm:col-12">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ authService.system }}</span>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid grid">
        <div class="field col-12 text-center">
          <h2>Recupera Contraseña</h2>
        </div>

        <div class="field col-12">
          <label for="username" appLabel [label]="LoginFormEnum.username" [required]="usernameField"></label>
          <input pInputText id="username" formControlName="username">
          <small appErrorMessage
                 [errors]="usernameField.errors"
                 [touched]="usernameField.untouched"
                 [dirty]="usernameField.dirty">
          </small>
        </div>

        @if (!isValidTransactionalCode) {
          <div class="field col-12">
            <p-button
              label="Solicitar Código"
              severity="info"
              [icon]="PrimeIcons.SEND"
              [disabled]="!usernameField.valid"
              (click)="requestTransactionalCode()"></p-button>
          </div>
        }

        @if (isRequestTransactionalCode && !isValidTransactionalCode) {
          <div class="field">
            <label for="transactionalCode" appLabel label="Ingrese el código enviado a su correo"
                   [required]="transactionalCodeField"></label>
            <input pInputText id="transactionalCode" formControlName="transactionalCode">
            <small appErrorMessage
                   [errors]="transactionalCodeField.errors"
                   [touched]="transactionalCodeField.untouched"
                   [dirty]="transactionalCodeField.dirty">
            </small>
          </div>
        }

        @if (isRequestTransactionalCode && !isValidTransactionalCode) {
          <div class="field">
            <p-button
              severity="success"
              label="Validar Código"
              [icon]="PrimeIcons.VERIFIED"
              [disabled]="!isRequestTransactionalCode || !transactionalCodeField.valid"
              (click)="verifyTransactionalCode()"></p-button>
          </div>
        }

        @if (isValidTransactionalCode) {
          <div class="formgrid grid">
            <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
              <label for="passwordNew" appLabel [label]="LoginFormEnum.username" [required]="passwordNewField"></label>
              <p-password id="passwordNew" formControlName="passwordNew" [feedback]="false"></p-password>
              <small appErrorMessage
                     [errors]="passwordNewField.errors"
                     [touched]="passwordNewField.untouched"
                     [dirty]="passwordNewField.dirty">
              </small>
            </div>

            <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
              <label for="passwordConfirmation" appLabel [label]="LoginFormEnum.passwordConfirmation"
                     [required]="passwordConfirmationField"></label>
              <p-password id="passwordConfirmation" formControlName="passwordConfirmation"
                          [feedback]="false"></p-password>
              <small appErrorMessage
                     [errors]="passwordConfirmationField.errors"
                     [touched]="passwordConfirmationField.untouched"
                     [dirty]="passwordConfirmationField.dirty">
              </small>
            </div>
          </div>
        }

        @if (isValidTransactionalCode) {
          <div class="field">
            <p-button
              label="Resetear Contraseña"
              [icon]="PrimeIcons.KEY  "
              (click)="resetPassword()"></p-button>
          </div>
        }

        @if (coreService.isLoading) {
          <div class="field">
            <app-progress-bar></app-progress-bar>
          </div>
        }
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <p-button
          severity="secondary"
          [raised]="true"
          class="w-full"
          [icon]="PrimeIcons.ARROW_LEFT"
          label="Regresar al Login"
          (click)="redirectLogin()"></p-button>
      </div>
    </ng-template>
  </p-panel>
</div>
