body {
  background-image: url("/assets/images/pages/auth/login/role.jpg");
  //background-repeat: no-repeat;
  background-size: cover;
}

.p-panel-content {
  opacity: 90%;
}

.p-panel-header {
  opacity: 70%;
}

.p-panel-footer {
  opacity: 80%;
}
