<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
  <!--passwordOld-->
  <div class="field">
    <label for="passwordOld" appLabel label="Contraseña Anterior" [required]="passwordOldField">
    </label>
    <input pPassword type="password" id="passwordOld" formControlName="passwordOld"/>
    <small appErrorMessage
           [errors]="passwordOldField.errors"
           [touched]="passwordOldField.untouched"
           [dirty]="passwordOldField.dirty">
    </small>
  </div>
  <!--passwordNew && passwordConfirmation-->
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="passwordNew" label="Nueva Contraseña" [required]="passwordNewField">
      </label>
      <input pPassword type="password" id="passwordNew" formControlName="passwordNew" [feedback]="false"/>
      <small appErrorMessage
             [errors]="passwordNewField.errors"
             [touched]="passwordNewField.untouched"
             [dirty]="passwordNewField.dirty">
      </small>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="passwordConfirmation" label="Repita la Contraseña"
             [required]="passwordConfirmationField"></label>
      <input pPassword type="password" id="passwordConfirmation" formControlName="passwordConfirmation"
             [feedback]="false"/>
      <small appErrorMessage
             [errors]="passwordConfirmationField.errors"
             [touched]="passwordConfirmationField.untouched"
             [dirty]="passwordConfirmationField.dirty">
      </small>
    </div>
  </div>

  <!--submit-->
  <div class="field">
    <p-button
      type="submit"
      label="Cambiar Contraseña"
      [icon]="PrimeIcons.SAVE"
      [loading]="coreService.isLoading"></p-button>
  </div>

  @if (coreService.isLoading) {
    <div class="field">
      <app-progress-bar message="Ingresando al sistema..."></app-progress-bar>
    </div>
  }
</form>
