<div class="grid formgrid">
  <div class="col-3">
    @if (id === RoutesEnum.NEW) {
      <!--      <p-button [label]="label" [icon]="icon" severity="success" [text]="true" size="large"></p-button>-->
<!--      <i [class]="icon"></i><span>{{ label }}</span>-->
    } @else {
      <!--      <p-button [label]="label" [icon]="icon" [text]="true" size="large"></p-button>-->
<!--      <p-badge [value]="label" severity="primary" badgeSize="large"/>-->
    }
  </div>

  <div class="col-12">
    <small class="ml-3 mt-2" [innerHTML]="message"></small>
  </div>
</div>
